* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
	background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	transform: translate3d(0, 0, 0);
}
 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header {
    font-family: "Rubik Mono One";
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.main_h1 {
    display: inline-block;
    position: relative;
    padding: 20px 100px;
    font-size: 96px;
    font-style: italic;
    color: white;
    margin-top: 20px;
    background-color: #f8e535;
    border-radius: 18px;
    overflow: hidden;
    z-index: 1;
    user-select: none;
}

.main_h1::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    border-radius: 23px; /* 18px (border-radius) + 5px */
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.main_h2 {
    position: relative;
    font-size: 48px;
    margin-top: 40px;
    color: #FFFFFF;
    user-select: none;
}

main {
    text-align: center;
    flex-grow: 1;
}

.main_button {
    font-family: "Rubik Mono One";
    font-size: 24px;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #ffffff;
    background: #8145e2;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 30px;
    user-select: none;
}

.main_button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.main_button:active {
    color: #000
}

.main_button:active:after {
    background: transparent;
}

.main_button:hover:before {
    opacity: 1;
}

.main_button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffd60a;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

footer {
    background: #ffd60a;
    font-family: "Rubik Mono One";
    text-align: center;
    width: 100%;
}

.all_img {
    width: 360px;
    height: 360px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    user-select: none;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    color: #FFFFFF;
}

.div_ram {
    border: 5px solid white;
    border-radius: 50px;
    padding: 10px;
    display: block;
    margin: 30px auto 0; 
    width: fit-content;
}

.country_name {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #1284ff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: "Rubik Mono One";
    font-size: 24px;
    display: none; /* Скрыл элемент до первого генера флага */
}

@media (min-width: 768px) {
    .country_name {
        font-size: 32px;
        padding: 15px 30px;
    }
}

@media (min-width: 1024px) {
    .country_name {
        font-size: 48px;
        padding: 20px 40px;
    }
}
